---
# ======================================================
# SERVERS CONFIGURATION
# ======================================================
- name: TASK 1. Configuring servers
  hosts: servers
  become: true
  tasks:
    - name: Changing DNS # a침adimos servidor de google para poder resovler los dominios de la instalacion de paquetes
      ansible.builtin.copy:
        src: ../files/resolv.conf
        dest: /etc/resolv.conf
        owner: root
        group: root
        mode: "0644" # permisos en octal
        backup: true
        
    - name: Update apt cache
      ansible.builtin.apt:
        update_cache: true

    

#======================================================
# GLOBAL CONFIGURATION
# ======================================================
- name: Configuring time-zone and .log
  hosts: all
  become: true
  tasks:
    - name: Synchronize system time
      ansible.builtin.command: timedatectl set-timezone Europe/Madrid
      changed_when: false

    - name: Ensure system clock is synchronized
      ansible.builtin.apt:
        name: chrony
        state: present
        update_cache: false

    - name: Start and enable chrony
      ansible.builtin.systemd:
        name: chronyd
        state: started
        enabled: true

    - name: Install rsyslog
      when: "'servers' in group_names"
      ansible.builtin.apt:
        name: rsyslog
        state: present
        update_cache: false

    - name: Enable and start rsyslog service
      ansible.builtin.systemd:
        name: rsyslog
        enabled: true

#======================================================
# INSTALL ISC-DHCP-SERVER & BIND9 
# ======================================================
# Aunque tengamos un playbook the configuracion, primero instalamos los servicios
# para que a la hora de crear la clave no nos de problemas

- name: Installing DHCP server
  hosts: dhcp
  become: true
  tasks:
    - name: Isc-dhcp-server
      ansible.builtin.apt:
        update_cache: false # Actualizar
        name: isc-dhcp-server
        state: present

- name: Installing dns server
  hosts: dns
  become: true
  tasks:
    - name: Bind9
      ansible.builtin.apt:
        update_cache: false # Actualizar
        name: bind9
        state: present

# ======================================================
# CREATE TSIGG KEY
# ======================================================
- name: Ensure TSIG key exists (DNS)
  hosts: dns
  become: true
  tasks:
    - name: Ensure /etc/bind exists
      ansible.builtin.file:
        path: /etc/bind
        state: directory
        owner: bind
        group: bind
        mode: "0755"

    - name: Check TSIG key exists
      ansible.builtin.stat:
        path: /etc/bind/named.conf.options
      register: key_file

    - name: Create TSIG key if not exist
      ansible.builtin.command: tsig-keygen -a hmac-sha256 ddns-key
      register: tsig_output
      when: not key_file.stat.exists

    - name: Save TSIG key to /etc/bind/named.conf.options
      ansible.builtin.copy:
        content: "{{ tsig_output.stdout }}"
        dest: /etc/bind/named.conf.options
        owner: bind
        group: bind
        mode: "0600"
      when: not key_file.stat.exists

- name: Ensure TSIG key exists (DHCP)
  hosts: dhcp
  become: true
  tasks:
    - name: Ensure /etc/dhcp exists
      ansible.builtin.file:
        path: /etc/dhcp
        state: directory
        owner: root
        group: root
        mode: "0755"

    - name: Check TSIG key exists
      ansible.builtin.stat:
        path: /etc/dhcp/ddns.key
      register: key_file

    - name: Copy TSIG key from DNS if not exist
      ansible.builtin.fetch:
        src: /etc/bind/named.conf.options
        dest: /tmp/ddns.key
        flat: true
      when: not key_file.stat.exists
      delegate_to: dns

    - name: Move TSIG key to /etc/dhcp
      ansible.builtin.copy:
        src: /tmp/ddns.key
        dest: /etc/dhcp/ddns.key
        owner: root
        group: root
        mode: "0600"
      when: not key_file.stat.exists

# ======================================================
# DNS SERVER CONFIGURATION
# ======================================================
- name: Configuring DNS server
  hosts: dns
  become: true
  tasks:
    - name: Configuring local zones file
      ansible.builtin.copy:
        src: ../files/dns/named.conf.local
        dest: /etc/bind/named.conf.local
        owner: root
        group: bind
        mode: "0640"  # root puede leer/escribir, bind puede leer, nadie m치s puede
        backup: true

    - name: Configuring direct zone file
      ansible.builtin.copy:
        src: ../files/dns/db.mario.test
        dest: /var/lib/bind/db.mario.test
        owner: root
        group: bind
        mode: "0640"  # root puede leer/escribir, bind puede leer, nadie m치s puede
        backup: true

    - name: Configuring reverse zone file
      ansible.builtin.copy:
        src: ../files/dns/db.127
        dest: /var/lib/bind/db.127
        owner: root
        group: bind
        mode: "0640"  # root puede leer/escribir, bind puede leer, nadie m치s puede
        backup: true

    - name: Validate named configuration
      ansible.builtin.command: named-checkconf /etc/bind/named.conf.local

    - name: Validate direct zone
      ansible.builtin.command: named-checkzone "mario.test" /var/lib/bind/db.mario.test

    - name: Validate reverse zone
      ansible.builtin.command: named-checkzone "58.168.192.in-addr.arpa" /var/lib/bind/db.127

    - name: Enabling the service and restarting the service
      ansible.builtin.systemd:
        name: bind9
        state: restarted
        enabled: true

# ======================================================
# DHCP SERVER CONFIGURATION
# ======================================================
- name: Configuring DHCP server
  hosts: dhcp
  become: true
  tasks:
    - name: Configuring listen network adapter
      ansible.builtin.copy:
        src: ../files/dhcp/listen
        dest: /etc/default/isc-dhcp-server
        owner: root
        group: root
        mode: "0644" 
        backup: true

    - name: Configuring dhcpd.conf file
      ansible.builtin.copy:
        src: ../files/dhcp/dhcpd.conf
        dest: /etc/dhcp/dhcpd.conf
        owner: root
        group: root
        mode: "0644"
        backup: true

    - name: Validate dhcpd.conf
      ansible.builtin.command: dhcpd -t -cf /etc/dhcp/dhcpd.conf

    - name: Enabling the service and restarting the service
      ansible.builtin.systemd:
        name: isc-dhcp-server
        state: restarted
        enabled: true

